<head>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
  <h1>Welcome to the ImageResizing API</h1>
  <p>
    This API allows you to resize images from a selection of available images (see the list below). To resize an image, use the following syntax (note: the words in all caps must be replaced with your chosen values):
  </p>
  <p>
    http://localhost:3000/api/images?filename=<strong>FILENAME</strong>&height=<strong>HEIGHT</strong>&width=<strong>WIDTH</strong>
  </p>
  <ul>
    <li>File Name: Must be one of the available file names listed below</li>
    <li>Height: must be a positive integer</li>
    <li>Width: must be a positive integer</li>
  </ul>
  <p>
    The maximum permissible size is 65500x65500; however, for performance optimization, it is advisable to maintain the size under 10000x10000.
  </p>
  <div class="full-images-grid">
    <% filenames.forEach((filename) => { %>
      <div class="image">
        <img src=<%= 'images/full/' + filename + '.jpg' %> style="height: 300px; width: 300px"/>
        <%= `filename: ${filename}` %> 
      </div>
    <% }) %>
  </div>
</body>